@model web.cvetbenavente.Models.EspeciesViewModels.CriarViewModel

@{
    ViewData["Title"] = "Nova Espécie";
}

<div class="card bg-white">
    <div class="card-header">
        Dados
    </div>
    <div class="card-block">
        <div class="row m-a-0">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" asp-action="Criar" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="Especie.Nome" required>
                            <span class="error" asp-validation-for="Especie.Nome"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome Fêmea</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="Especie.NomeF">
                            <span class="error" asp-validation-for="Especie.NomeF"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Imagem</label>
                        <div class="col-sm-8">
                            <input type="file" accept="image/png, image/jpeg, image/jpg" asp-for="Imagem">
                            <p class="help-block">Apenas ficheiros <b>PNG</b> e <b>JPEG</b></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" name="Submeter" class="btn btn-primary m-r">Submeter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <a asp-action="Index" class="hidden-text-link" id="VoltarLink">
        <i class="icon-arrow-left"></i>
        <span style="display: none" class="text">Voltar</span>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}