@model web.cvetbenavente.Models.EspeciesViewModels.IndexViewModel
@{
    ViewData["Title"] = "Espécies";
}

<div class="row hidden-print">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a asp-action="Criar" class="btn btn-primary btn-icon m-b w-100">
            <i class="icon-plus mr5"></i>
            <span>Nova Espécie</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-6">
        <a onclick="window.print()" class="btn btn-default btn-icon m-b w-100">
            <i class="icon-printer mr5"></i>
            <span>Imprimir</span>
        </a>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover m-b-0" id="EspeciesIndexTable">
        <thead class="card-header b-a-0 m-a-0">
            <tr>
                <th>Espécie</th>
                <th>Animais Associados</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Especies.Any())
            {
                @foreach (var item in Model.Especies)
                {
                    <tr>
                        <td class="lh-25">
                            <img src="~/images/paw.jpg" id="teste" class="hidden-print" height="25"/>
                            @item.Nome
                        </td>
                        <td class="lh-25">
                            @item.NrAnimais
                            <a asp-action="Detalhes" asp-route-id="@item.Id" class="hidden-print">
                                <span class="pull-right size-14 lh-25" data-toggle="tooltip" data-placement="top" title="Detalhes">
                                    <i class="icon-eye"></i>
                                </span>
                            </a>
                            &nbsp;
                            <a asp-action="Index" asp-controller="Animais" asp-route-especie="@item.Id" class="hidden-print">
                                <span class="pull-right size-14 lh-25" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="Animais desta espécie">
                                    <i class="fa fa-paw"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr colspan="2">
                    <td>Não existem espécies a mostrar</td>
                </tr>
            }
        </tbody>
    </table>
</div>
