@using Microsoft.AspNetCore.Identity
@using web.cvetbenavente.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a href="javascript:;" class="ripple" data-toggle="dropdown">
            @*<img src="images/avatar.jpg" class="header-avatar img-circle" alt="user" title="user">*@
            <span>@UserManager.GetUserName(User)</span>
            <span class="caret"></span>
        </a>
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <ul class="dropdown-menu">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Alterar Password">Alterar Password</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="$('#logoutForm').submit()" class="hidden-text-link">
                        Sair
                        <i class="icon-logout text pull-right" style="display: none; line-height: 15px;"></i>
                    </a>
                </li>
            </ul>
        }
    </li>
}
