@model web.cvetbenavente.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["ShowTitle"] = "false";
}

@section Scripts {
    <script type="text/javascript" src="~/lib/chart.js/dist/Chart.min.js"></script>
}
<div id="Home">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-block bg-white p-b-0 no-border">
                <canvas id="TopEspecies"></canvas>
            </div>
        </div>
    </div>
</div>