@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="pt">
    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"] - CVETBENAVENTE</title>
        <meta name="author" content="Bomsite - Soluções para Internet, Lda">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

        <!-----------------------favicon-------------------->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <!----------------------/favicon-------------------->
        <!----------------------manifest-------------------->
        <link rel="manifest" href="/manifest.json">
        <!----------------------/manifest------------------->
        <!-----------------------libs----------------------->
        <link rel="stylesheet" href="~/css/webfont.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <!----------------------/libs----------------------->
        <!----------------styles do template---------------->
        <link rel="stylesheet" href="~/css/card.min.css" />
        <link rel="stylesheet" href="~/css/sli.min.css" />
        <link rel="stylesheet" href="~/css/animate.min.css" />
        <link rel="stylesheet" href="~/css/app.min.css" />
        <!---------------/styles do template---------------->
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/css/no-js.min.css" />

    </head>
    <body class="page-loading">
        <div class="no-js-container">
            <img src="~/images/logo_circles_md.png" class="logo" />
            <img src="~/images/js-outline.png" class="js-outline" />
            <h4>Esta plataforma requer JavaScript. Para continuar, ative a utilização de scripts.</h4>
        </div>
        <!-- page loading spinner -->
        <div class="pageload">
            <div class="pageload-inner">
                <div class="sk-wandering-cubes center-block m-y-lg">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                </div>
            </div>
        </div>
        <!-- /page loading spinner -->
        <div class="app signin usersession">
            <div class="session-wrapper">
                <div class="page-height-o row-equal align-middle">
                    <div class="column">
                        <div class="card bg-white no-border">
                            <div class="card-block">
                                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-layout">
                                    <div class="text-center m-b">
                                        <img src="~/images/logo_circles_md.png" height="80" />
                                    </div>
                                    <br />
                                    <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
                                    <div class="form-inputs">
                                        <label class="text-uppercase">Nome de Utilizador</label>
                                        <input asp-for="UserName" class="form-control input-lg" placeholder="Utilizador" />
                                        @*<span asp-validation-for="UserName" class="text-danger"></span>*@
                                        <label class="text-uppercase">Password</label>
                                        <input asp-for="Password" class="form-control input-lg" placeholder="Password" />
                                        @*<span asp-validation-for="Password" class="text-danger"></span>*@
                                    </div>
                                    <button class="btn btn-primary btn-block btn-lg m-b" type="submit">Entrar</button>
                                </form>
                            </div>
                            <a asp-action="ForgotPassword" class="bottom-link">Esqueceu-se da password?</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bottom footer -->
            <footer class="session-footer hidden-xs">
                <nav class="footer-left hidden-xs">
                    <ul class="nav">
                        <li>
                            <a href="http://bomsite.com" target="_blank"><img src="~/images/bst_blue.png" /></a>
                        </li>
                    </ul>
                </nav>
            </footer>
            <!-- /bottom footer -->
        </div>

        <script type="text/javascript" src="~/js/helpers/modernizr.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/fastclick/lib/fastclick.js"></script>
        <script type="text/javascript" src="~/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
        <script type="text/javascript" src="~/js/helpers/smartresize.min.js"></script>
        <script type="text/javascript" src="~/js/constants.min.js"></script>
        <script type="text/javascript" src="~/js/main.min.js"></script>
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    </body>
</html>