@{
    ViewData["Title"] = "Importar Eventos";
    ViewData["ShowTitle"] = "false";
}

<div class="page-height row-equal align-middle text-center">
    <div class="column">
        <div class="error-number">
            <span><i class="icon-wrench"></i></span>
        </div>
        <div class="m-b h4 text-uppercase"></div>
        <p>A importação de eventos a partir do Google Calendar encontra-se em desenvolvimento.</p>
    </div>
</div>