@model web.cvetbenavente.Models.Cliente

@{
    ViewData["Title"] = "A editar " + Model.Nome;
    ViewData["CustomTitle"] = Model.Nome;
}
@if (Model.Active)
{
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <a asp-action="Detalhes" asp-route-id="@Model.Id" class="btn btn-primary btn-icon m-b block">
                <i class="icon-info mr5"></i>
                <span>Detalhes</span>
            </a>
        </div>
    </div>


    <div class="card bg-white">
        <div class="card-header">
            Dados Pessoais
        </div>
        <div class="card-block">
            <div class="row m-a-0">
                <div class="col-lg-12">
                    <form class="form-horizontal" asp-action="Editar">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" asp-for="Nome" required>
                                <span class="error" asp-validation-for="Nome"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contacto</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" asp-for="Contacto" required>
                                <span class="error" asp-validation-for="Contacto"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Morada</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" asp-for="Morada" required>
                                <span class="error" asp-validation-for="Morada"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <input type="text" class="form-control" asp-for="CodPostal" required>
                                <span class="error" asp-validation-for="CodPostal"></span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" asp-for="Localidade" required>
                                <span class="error" asp-validation-for="Localidade"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observações</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="4" asp-for="Observacoes"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button type="submit" name="Submeter" class="btn btn-primary m-r">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card bg-white">
        <div class="card-block">
            <div class="row m-a-0">
                <div class="col-lg-12">
                    <h4 class="text-xs-center">@Model.Nome encontra-se <b>inativo/a</b>.</h4>
                    <p class="text-xs-center m-b-md">
                        Um cliente inativo não pode ser alterado, não pode ser associado a eventos,
                        não receberá notificações de eventos e quaisquer animais que lhe estejam
                        associados estão igualmente inativos. É possivel reativar um cliente.
                    </p>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-4">
                            <a asp-action="Detalhes" asp-route-id="@Model.Id" class="btn btn-primary btn-icon m-b block">
                                <i class="icon-info mr5"></i>
                                <span>Detalhes</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-warning btn-icon m-b block">
                                <i class="icon-user-following mr5"></i>
                                <span>Ativar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
