@model IEnumerable<web.cvetbenavente.Models.Cliente>

@{
    ViewData["Title"] = "Todos os Clientes";
}

<!--Filtros-->
<div class="card bg-white">
    <div class="card-header">
        Filtros
        <a class="pull-right" asp-action="Criar" id="ClientesIndexCriar">
            <span style="display: none" class="text">Novo Cliente</span>
            <i class="icon-user-follow"></i>
        </a>
    </div>
    <div class="card-block">
        <div class="row m-a-0">
            <div class="col-sm-4">
                <div class="form-group" id="ClientesIndexSearchFormGroup">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-sm-2 control-label p-a-0">Pesquisa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="ClientesIndexSearch">
                            <a class="clear"><i class="icon-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tabela de Clientes-->
<div class="table-responsive">
    <table class="table table-bordered m-b-0" id="ClientesIndexTable">
        <thead class="card-header b-a-0 m-a-0">

            <tr>
                <th class="ClienteColumn sortable" data-order="asc">Cliente <i class="fa fa-caret-down pull-right"></i></th>
                <th>Morada</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.Morada, @item.CodPostal @item.Localidade</td>
                        </tr>
                    }
                } else
                {
                    <tr colspan="3">
                        <td>Não existem clientes a mostrar.</td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/noty/lib/noty.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/lib/noty/lib/noty.min.js"></script>
}