@model IEnumerable<web.cvetbenavente.Models.Cliente>

@{
    ViewData["Title"] = "Todos os Clientes";
}

<a asp-action="Criar" class="btn btn-primary btn-icon m-b">
    <i class="icon-user-follow mr5"></i>
    <span>Novo Cliente</span>
</a>
<!--Filtros-->
<div class="card bg-white">
    <div class="card-header">
        Filtros
    </div>
    <div class="card-block">
        <div class="row m-a-0">
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="form-group" id="ClientesIndexSearchFormGroup">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-sm-2 control-label p-a-0">Pesquisa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="ClientesIndexSearch">
                            <a class="clear"><i class="icon-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="form-group" id="ClientesIndexEstadoFormGroup">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-sm-2 control-label p-a-0">Estado</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <select id="ClientesIndexEstado" class="form-control block w-100">
                                <option value="0">Ambos</option>
                                <option value="1" selected="selected">Ativo</option>
                                <option value="2">Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tabela de Clientes-->
<div class="table-responsive">
    <table class="table table-bordered m-b-0" id="ClientesIndexTable">
        <thead class="card-header b-a-0 m-a-0">

            <tr>
                <th class="ClienteColumn sortable" data-order="asc">Cliente <i class="fa fa-caret-down pull-right"></i></th>
                <th>Morada</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_IndexTablePartial", Model)
        </tbody>
    </table>
</div>